[oci]
${wireguard_ip}

[oci:vars]
ansible_ssh_user=ubuntu
ansible_ssh_private_key_file=${private_key}
wireguard_ip=${wireguard_ip}
wireguard_port=${wireguard_port}
wireguard_ui_port=${wireguard_ui_port}